<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
   <config>
    <add key="signatureValidationMode" value="accept" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="phobos-nightly" value="https://qa1feed.sdkbin.com/auth/f8bafc34-872c-411a-8f69-aeaedc2054a8/sdkbin-phobos/v3/index.json" />
    <add key="phobos-prod" value="https://feed.sdkbin.com/auth/a90bce42-bd9f-4495-911b-dc2969ff7da4/sdkbin-phobos/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="Phobos.Actor.Common" />
    </packageSource>
    <packageSource key="phobos-prod">
      <package pattern="Phobos.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>